.link {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.link__active {
  color: red;
}

.ul {
  display: flex;
  list-style: none;
  background-color: white;
  padding: 30px;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
